[submodule "bindings/upstream/imgui"]
	path = bindings/upstream/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "bindings/upstream/dear_bindings"]
	path = bindings/upstream/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
