[submodule "raw/upstream/imgui"]
	path = raw/upstream/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "raw/upstream/dear_bindings"]
	path = raw/upstream/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
